.jarallax-container-0 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -100;
}
.lelio {
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/src/main-baneer2.jpg);

  position: fixed;
  top: 0px;
  left: 0px;
  width: 2304px;
  height: 1080px;
  overflow: hidden;
  pointer-events: none;
  margin-left: -477.5px;
  margin-top: -340px;
  visibility: visible;
  transform: translateY(60px) translateZ(0px);
}
